<div class="card text-gold bg-dark">
  <img src="assets/imgs/pontuacoes-capa.jpg" class="card-img-top" alt="Imagem de pontuações">
  <div class="card-body">
    <h5 class="card-title">Pontuações</h5>
    <p class="card-text text-white">Segue o nosso sistema de pontuação deste ano. A cada rodada (a partir da segunda) temos a possibilidade de alguém faturar 1
      ponto bônus!! Para conseguir o ponto bônus, o participante deverá <b><i>ser o 1º (primeiro) colocado 2 vezes seguidas</i></b>. <br>
    Também temos 1 ponto bônus para quem conseguir a façanha de <b><i>ter a maior pontuação no banco de reservas de jogadores que não
        entraram</i></b>!!!</p>
    <p class="text-white">Abaixo seguem as pontuações:</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-white bg-dark">Bônus – 1 ponto</li>
    <li class="list-group-item text-white bg-dark">1° lugar – 10 pontos</li>
    <li class="list-group-item text-white bg-dark">2° lugar – 9 pontos</li>
    <li class="list-group-item text-white bg-dark">3° lugar – 8 pontos</li>
    <li class="list-group-item text-white bg-dark">4° lugar – 7 pontos</li>
    <li class="list-group-item text-white bg-dark">5° lugar – 6 pontos</li>
    <li class="list-group-item text-white bg-dark">6° lugar – 5 pontos</li>
    <li class="list-group-item text-white bg-dark">7° lugar – 4 pontos</li>
    <li class="list-group-item text-white bg-dark">8° lugar – 3 pontos</li>
    <li class="list-group-item text-white bg-dark">9° lugar – 2 pontos</li>
    <li class="list-group-item text-white bg-dark">10° lugar até 16° – 1 ponto</li>
    <li class="list-group-item text-white bg-dark">Demais – 0 pontos</li>
  </ul>
</div>
