



<div class="card text-white bg-dark">
  <img src="assets/imgs/clubes/capa.jpg" class="card-img-top" alt="Imagem capa de Clubes">
  <div class="card-body">
    <h5 class="card-title">Clubes</h5>
    <p class="card-text">Estes são os clubes que disputam o Cartoleiros Brothers deste ano</p>
  </div>
  <div class="accordion " id="accordionPanelsStayOpenExample">
    <div *ngFor="let clube of clubes" class="accordion-item text-white bg-dark">
      <h2 class="accordion-header" [id]="'panelsStayOpen-heading'+ clube.id">
        <div class="accordion-button collapsed text-white bg-dark" type="button" data-bs-toggle="collapse"
          [attr.data-bs-target]="'#panelsStayOpen-collapse' + clube.id" [attr.aria-controls]="'panelsStayOpen-collapse' + clube.id">
          <img class="logo-clube" [src]="clube.imagem" alt="Logo do clube"> {{clube.nome}}
        </div>
      </h2>
      <div [id]="'panelsStayOpen-collapse' + clube.id" class="accordion-collapse collapse"
        [attr.aria-labelledby]="'panelsStayOpen-heading' + clube.id">
        <div class="accordion-body">
          <app-detalhe-clube [clubeId]="clube.id"></app-detalhe-clube>
        </div>
      </div>
    </div>
  </div>
</div>